<html>
    <head>
        <title>Django Takuya blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Tkuya Blog</a></h1>
        </div>

        <div>
            <p>published: 2023.02.20, 15:11</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！　よろしくお願いします！</p>
        </div>

        <div>
            <p>公開日： 2023/02/20, 15:11</p>
            <h2><a href="">２番目の投稿</a></h2>
            <p>　こんにちは！　よろしくお願いします！　</p>
        </div>
    </body>
</html>


